
h2 {
	color: #006699;
}
a{
	font-size:20px;
}
.header.clearfix{
	padding-bottom: 40px;padding-top: 20px;
}
#home_button a{
	font-size:20px;
}
.lead{
	padding-bottom: 30px;
}
#h1_home{
	padding-top:30px; padding-bottom: 15px;
}
.jumbotron{
	text-align: center;padding-bottom: 70px;
}
.div-form{
	padding-right: 200px;
	padding-left:200px;

}
.div-form-right{
	padding-right: 200px;
}

.loginform, .intro{
	padding-right: 35%;
	padding-left:35%;
	margin-top:15%;
}
.activity_description{
	padding-bottom: 20px;
}
.table-navs{
	padding-bottom: 20px;
}
.top-buffer { margin-top:20px; }
.bucketlists, .item{
	padding-right: 10%;
	padding-left:10%;
}
.add-bucketlist{
	padding: 20px;
}
.button-spacing{
	padding-right:15px;
}
.list-group-item{
	padding: 15px 15px
}
.update-bucketlist-form{
	padding-bottom: 20px;
}
.spacer{
	padding-bottom: 15px;
}